Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

feat(relay): add API keys to relayed WebSocket connections (#467)
  tools/relay/relay.go
Due: tools

feat(am-gen): add starter-kit cmd for YAML inputs (#468)
  tools/generator/integration_test.go
  tools/generator/starter.go
  tools/generator/testdata/schema.yml
  tools/generator/testdata/starter-kit/go.mod
  tools/generator/testdata/starter-kit/go.sum
  tools/generator/testdata/starter-kit/handlers.go
  tools/generator/testdata/starter-kit/starter_mach.go
  tools/generator/testdata/starter-kit/starter_mach_test.go
  tools/generator/testdata/starter-kit/states/ss_starter.go
Due: tools

feat(am-relay): add --output-mach and --output-clients (#469)
  tools/relay/relay.go
  tools/relay/types/types_relay.go
Due: tools

feat(am-dbg): replace step timeline with marker timeline (#470)
  tools/debugger/README.md
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/tree.go
Due: tools

feat(am-gen): add schema-from-file cmd for YAML inputs (#471)
  tools/generator/generator_test.go
  tools/generator/schema.go
  tools/generator/schema_test.go
Due: tools

docs: add getting started tutorial (#472)
  docs/getting-started.md
Due: none

feat(am-dbg): add --output-mach to dump the current machine and schema in --dir (#473)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
Due: tools

feat(am-dbg): release am-dbg v0.19.3
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/unit_test.go
  tools/debugger/utils.go
Due: tools

feat(am-dbg): release am-dbg v0.19.3 (#474)
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/unit_test.go
  tools/debugger/utils.go
Due: tools

test: skip flaky REPL
  Taskfile.yml
  pkg/rpc/rpc.go
  tools/repl/repl_test.go
Due: pkg/rpc, tools

test(am-dbg): fix race in SelectingClientState
  tools/debugger/dbg_handlers.go
Due: tools

ci: retry pkg rpc
  .github/workflows/go-rpc.yml
Due: none

ci: revert integration for test-path
  Taskfile.yml
Due: none

docs: update readmes
  FAQ.md
  README.md
  docs/cookbook.md
  docs/diagrams.md
  docs/editors/README.md
  docs/editors/mini.md
  docs/manual.md
  docs/schema.md
  docs/wasm.md
  examples/README.md
  examples/wasm/README.md
  pkg/helpers/README.md
  pkg/integrations/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/repl/repl_test.go
Due: pkg/machine, pkg/helpers, pkg/rpc, tools

ci: disable TestAllowedPubKeysMux in CI
  pkg/rpc/iroh/iroh_test.go
Due: pkg/rpc

fix(rpc): retry mutation on conn retry (#465)
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_test.go
Due: pkg/rpc

feat(rpc): add go-iroh overlay for aRPC (#464)
  pkg/rpc/iroh/iroh.go
  pkg/rpc/iroh/iroh_test.go
  pkg/rpc/iroh/netmach_test.go
Due: pkg/rpc

feat(rpc): add API keys to WebSocket aRPC connections (#466)
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

test(machine): bump line coverage to 90% (#462)
  pkg/machine/coverage_test.go
Due: pkg/machine

test(am-relay): add /tunnel/ and /dial/ tests for am-relay (#463)
  tools/relay/relay_test.go
Due: tools

test(repl): add CLI and REPL tests for aRPC (#461)
  tools/repl/repl_test.go
Due: tools

chore: fix lint
  .rumdl.toml
  CHANGELOG.md
  docs/getting-started.md
  docs/release-notes.md
Due: none

fix(am-dbg): fix diagram symlinks and toolbar button
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  scripts/go.mod
  scripts/go.sum
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/visualizer/d2.go
  tools/visualizer/tx.go
Due: tools

fix(am-dbg): fix diagram symlinks and toolbar button (#478)
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  scripts/go.mod
  scripts/go.sum
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/visualizer/d2.go
  tools/visualizer/tx.go
Due: tools

fix(rpc): fix websocket auth in WASM
  pkg/node/node_worker.go
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/test/rpc_suite.go
  pkg/rpc/test/rpc_test.go
  tools/relay/relay.go
  tools/relay/relay_test.go
  tools/relay/types/types_relay.go
Due: pkg/node, pkg/rpc, tools

Path conditions:
  pkg/machine: any of: pkg/machine/**, but not: pkg/pubsub/uds/**
  pkg/helpers: any of: pkg/helpers/**, but not: pkg/pubsub/uds/**
  pkg/history: any of: pkg/history/**, but not: pkg/pubsub/uds/**
  pkg/node: any of: pkg/node/**, but not: pkg/pubsub/uds/**
  pkg/pubsub: any of: pkg/pubsub/**, but not: pkg/pubsub/uds/**
  pkg/rpc: any of: pkg/rpc/**, but not: pkg/pubsub/uds/**
  pkg/states: any of: pkg/states/**, but not: pkg/pubsub/uds/**
  pkg/telemetry: any of: pkg/telemetry/**, but not: pkg/pubsub/uds/**
  tools: any of: tools/**, but not: pkg/pubsub/uds/**
  internal: any of: internal/**, but not: pkg/pubsub/uds/**
