Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

fix(repl): fix cobra flag value slices not reset (#349)
  tools/repl/cli_repl.go
Due: tools

fix(rpc): fix args value parsing (#350)
  pkg/rpc/mux.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

feat(machine): add graceful shutdown (#351)
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): add more `Transition.TimeIndex*` methods (#352)
  pkg/machine/transition.go
Due: pkg/machine

feat(rpc): add support for WebSocket clients and servers
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

feat(rpc): add support for WebSocket clients and servers (#353)
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

feat(relay): add listening on TCP via WebSockets (#354)
  tools/cmd/am-relay/cmd_relay.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/relay_cli.go
  tools/relay/types/types_relay.go
  tools/relay/ws_tcp_tun.go
Due: tools

feat(repl): support connecting to WebSocket servers via addr:port/path
  tools/cmd/arpc/cmd_arpc.go
  tools/repl/repl.go
Due: tools

feat(repl): support connecting to WebSocket servers via addr:port/path (#355)
  tools/cmd/arpc/cmd_arpc.go
  tools/repl/repl.go
Due: tools

feat(am-dbg): add `--output-tx` to output current tx in MD and diagrams (#356)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
Due: tools

feat(visualizer): generate tx sequence diagrams (D2, mermaid, ASCII, SVG) (#357)
  tools/visualizer/tx.go
Due: tools

feat(machine): add `Machine.Fork` and `Machine.Go` sugar (#358)
  pkg/machine/machine.go
Due: pkg/machine

docs(examples): add WASM example with REPL (#359)
  examples/wasm/Taskfile.yml
  examples/wasm/client/index.html
  examples/wasm/client/wasm_client.go
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/client/wasm_client_test.go
  examples/wasm/server/wasm_server.go
  examples/wasm/states/ss_wa_sm.go
  examples/wasm/states/states_utils.go
  examples/wasm/wasm_example.go
Due: none

feat(telemetry): dbg protocol moved to `/pkg/telemetry/dbg` (#360)
  pkg/telemetry/dbg/dbg.go
Due: pkg/telemetry

feat(am-vis): render all machs when no URL given (#362)
  tools/cmd/am-vis/cmd_vis.go
Due: tools

chore(am-dbg-ssh): `am-dbg-ssh` is now EOL (#363)
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
Due: tools

feat(am-dbg): release `v0.18`
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): release `v0.18` (#364)
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/ui.go
Due: tools

ci: fix .env
  .gitignore
  examples/wasm/.env
Due: none

docs: update readmes
  BREAKING.md
  CHANGELOG.md
  README.md
  ROADMAP.md
  docs/manual.md
  examples/README.md
  examples/benchmark_state_source/README.md
  examples/tree_state_source/README.md
  go.mod
  go.sum
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/visualizer/tx.go
Due: pkg/telemetry, tools

fix(rpc): fix race in Client.Conn
  .github/workflows/go-badges.yml
  Taskfile.yml
  examples/wasm/server/wasm_server.go
  pkg/rpc/rpc_client.go
  scripts/gen_api_docs/gen_api_docs.go
  scripts/gen_website/sitemap/sitemap.go
Due: pkg/rpc

fix(am-vis): fix parent and RPC graph linking
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
  tools/visualizer/visualizer.go
Due: tools

fix: fix disposal in mach, rpc, history, debugger
  pkg/helpers/help.go
  pkg/history/gorm/gorm.go
  pkg/machine/machine.go
  pkg/rpc/rpc_server.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/debugger.go
Due: pkg/machine, pkg/helpers, pkg/history, pkg/rpc, tools

fix(rpc): fix WASM reconns hang the browser
  pkg/rpc/rpc_server.go
Due: pkg/rpc

fix(am-vis): fix parent and RPC graph linking (#368)
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
  tools/visualizer/visualizer.go
Due: tools

fix: fix disposal in mach, rpc, history, debugger (#369)
  pkg/helpers/help.go
  pkg/history/gorm/gorm.go
  pkg/machine/machine.go
  pkg/rpc/rpc_server.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/debugger.go
Due: pkg/machine, pkg/helpers, pkg/history, pkg/rpc, tools

fix(rpc): fix WASM reconns hang the browser (#370)
  pkg/rpc/rpc_server.go
Due: pkg/rpc

feat: release `v0.18.1`
  .github/workflows/coverage.yml
  .github/workflows/go-integration.yml
  Taskfile.yml
  config/.mdl_style.rb
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/server/wasm_server.go
  go.mod
  go.sum
  pkg/machine/machine.go
  pkg/pubsub/uds/uds_test.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/states/pipes/pipes.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/test/integration_test.go
  tools/debugger/ui.go
  tools/relay/relay.go
  tools/relay/ws_tcp_tun.go
  tools/repl/repl.go
Due: pkg/machine, pkg/rpc, pkg/states, tools

feat: release `v0.18.1` (#371)
  .github/workflows/coverage.yml
  .github/workflows/go-integration.yml
  Taskfile.yml
  config/.mdl_style.rb
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/server/wasm_server.go
  go.mod
  go.sum
  pkg/machine/machine.go
  pkg/pubsub/uds/uds_test.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/states/pipes/pipes.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/test/integration_test.go
  tools/debugger/ui.go
  tools/relay/relay.go
  tools/relay/ws_tcp_tun.go
  tools/repl/repl.go
Due: pkg/machine, pkg/rpc, pkg/states, tools

docs: update readmes
  .github/workflows/go-integration.yml
  CHANGELOG.md
  FAQ.md
  README.md
  docs/diagrams/example-wasm.d2
  examples/README.md
  examples/wasm/README.md
  pkg/states/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/states, tools

docs: update readmes
  README.md
  docs/manual.md
  examples/README.md
  examples/wasm/README.md
  pkg/machine/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-vis/README.md
  tools/debugger/types/cli_dbg.go
Due: pkg/machine, pkg/telemetry, tools

docs: update readmes, WASM
  .github/workflows/coverage.yml
  CHANGELOG.md
  FAQ.md
  README.md
  docs/diagrams.md
  examples/README.md
  examples/benchmark_state_source/README.md
  examples/tree_state_source/README.md
  examples/wasm/README.md
  examples/wasm/client/wasm_client.go
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/server/wasm_server.go
  pkg/helpers/README.md
  pkg/machine/README.md
  pkg/rpc/HOWTO.md
  pkg/rpc/README.md
Due: pkg/machine, pkg/helpers, pkg/rpc

fix(states): fix piping log directions, RPC deadlocks
  pkg/states/pipes/pipes.go
  pkg/states/ss_disposed.go
Due: pkg/states

fix(am-dbg): preserve log reader selection
  tools/debugger/log.go
Due: tools

fix(history): fix SQL diffs, mach IDs, tracking matches
  pkg/history/gorm/gorm.go
  pkg/history/history.go
Due: pkg/history

fix(rpc): dont dispose state source on server dispose
  pkg/rpc/netmach.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

fix(am-dbg): preserve log reader selection (#372)
  tools/debugger/log.go
Due: tools

fix(history): fix SQL diffs, mach IDs, tracking matches (#373)
  pkg/history/gorm/gorm.go
  pkg/history/history.go
Due: pkg/history
