Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

fix(rpc): dont dispose state source on server dispose (#374)
  pkg/rpc/netmach.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

fix(states): fix piping log directions, RPC deadlocks (#375)
  pkg/states/pipes/pipes.go
  pkg/states/ss_disposed.go
Due: pkg/states

feat: release v0.18.2
  .gitignore
  CHANGELOG.md
  examples/wasm/README.md
  examples/wasm/Taskfile.yml
  go.mod
  go.sum
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/misc_mach.go
  pkg/machine/schema.go
  pkg/machine/transition.go
  pkg/machine/types.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc_server.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
  scripts/go.mod
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/relay/relay.go
  tools/relay/ws_tcp_tun.go
Due: pkg/machine, pkg/helpers, pkg/rpc, tools

feat: release v0.18.2 (#376)
  .gitignore
  CHANGELOG.md
  examples/wasm/README.md
  examples/wasm/Taskfile.yml
  go.mod
  go.sum
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/misc_mach.go
  pkg/machine/schema.go
  pkg/machine/transition.go
  pkg/machine/types.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc_server.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
  scripts/go.mod
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/relay/relay.go
  tools/relay/ws_tcp_tun.go
Due: pkg/machine, pkg/helpers, pkg/rpc, tools

refac(rpc): improve Mux APIs
  pkg/rpc/mux.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

feat(relay): add WebSocket-to-TCP dial
  examples/wasm/.env
  examples/wasm/client/index.html
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/server/wasm_server.go
  examples/wasm/wasm_example.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/types_relay.go
  tools/relay/ws_tcp_tun.go
Due: tools

feat(telemetry): add selective Otel traces
  pkg/telemetry/otel.go
  pkg/telemetry/telemetry.go
Due: pkg/telemetry

feat(telemetry): add selective Otel traces (#380)
  pkg/telemetry/otel.go
  pkg/telemetry/telemetry.go
Due: pkg/telemetry

feat(relay): add WebSocket-to-TCP dial (#379)
  examples/wasm/.env
  examples/wasm/client/index.html
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/server/wasm_server.go
  examples/wasm/wasm_example.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/types_relay.go
  tools/relay/ws_tcp_tun.go
Due: tools

refac(rpc): improve Mux APIs (#378)
  pkg/rpc/mux.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

feat: release v0.18.3
  deploy/web-metrics/docker-compose.yml
  examples/tree_state_source/cmd_state_node.go
  go.mod
  go.sum
  pkg/machine/misc_mach.go
  pkg/machine/subscriptions.go
  pkg/machine/types.go
  pkg/node/supervisor.go
  scripts/gh_stats/gh_stats.go
  scripts/go.mod
  scripts/go.sum
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/dbg_handlers.go
Due: pkg/machine, pkg/node, tools

feat: release v0.18.3 (#381)
  deploy/web-metrics/docker-compose.yml
  examples/tree_state_source/cmd_state_node.go
  go.mod
  go.sum
  pkg/machine/misc_mach.go
  pkg/machine/subscriptions.go
  pkg/machine/types.go
  pkg/node/supervisor.go
  scripts/gh_stats/gh_stats.go
  scripts/go.mod
  scripts/go.sum
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/dbg_handlers.go
Due: pkg/machine, pkg/node, tools

docs: update readmes
  .github/workflows/coverage.yml
  CHANGELOG.md
  README.md
  docs/diagrams.md
  docs/diagrams/arpc.d2
  docs/env-configs.md
  docs/manual.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/rpc/README.md
  tools/cmd/am-relay/README.md
Due: pkg/machine, pkg/node, pkg/rpc, tools

chore: update readmes
  FAQ.md
  README.md
  ROADMAP.md
  docs/schema.md
  examples/README.md
  examples/benchmark_grpc/README.md
  examples/benchmark_libp2p_pubsub/README.md
  examples/benchmark_state_source/README.md
  examples/wasm/README.md
  pkg/helpers/README.md
  pkg/history/README.md
  pkg/integrations/README.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/pubsub/README.md
  pkg/rpc/HOWTO.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
  tools/debugger/README.md
Due: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools

refac(am-dbg): migrate to go-arg, add missing CLI filters
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/cmd/am-dbg-worker/main_dbg_worker.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/cmd/am-gen/cmd_gen.go
  tools/cmd/am-relay/cmd_relay.go
  tools/cmd/am-vis/cmd_vis.go
  tools/cmd/arpc/cmd_arpc.go
  tools/debugger/debugger.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/types/dbg_types.go
Due: tools, internal

feat(telemetry): add WASM support for Otel
  pkg/telemetry/otel.go
  pkg/telemetry/otel_nowasm.go
  pkg/telemetry/otel_wasm.go
Due: pkg/telemetry

feat(telemetry): auto exchange the root trace ID via env
  pkg/telemetry/otel.go
Due: pkg/telemetry

feat(states): add ampipe.Sync for re-connects
  pkg/states/pipes/pipes.go
Due: pkg/states

fix(rpc): remove SendPayload state
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

fix(machine): fix disposal with detached ctx
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add Tracer.TransitionFinals for more detailed tracing
  pkg/machine/misc_mach.go
  pkg/machine/transition.go
Due: pkg/machine

fix(machine): fix disposal with detached ctx (#383)
  pkg/machine/machine.go
Due: pkg/machine

fix(rpc): remove SendPayload state (#384)
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/states/ss_rpc.go
Due: pkg/rpc

refac(am-dbg): migrate to go-arg, add missing CLI filters (#385)
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/cmd/am-dbg-worker/main_dbg_worker.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/cmd/am-gen/cmd_gen.go
  tools/cmd/am-relay/cmd_relay.go
  tools/cmd/am-vis/cmd_vis.go
  tools/cmd/arpc/cmd_arpc.go
  tools/debugger/debugger.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/types/dbg_types.go
Due: tools, internal

feat(telemetry): add WASM support for Otel (#386)
  pkg/telemetry/otel.go
  pkg/telemetry/otel_nowasm.go
  pkg/telemetry/otel_wasm.go
Due: pkg/telemetry

feat(telemetry): auto exchange the root trace ID via env (#387)
  pkg/telemetry/otel.go
Due: pkg/telemetry

docs(examples): add WebWorker workflow example
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/cmd/browser/browser.go
  examples/wasm_workflow/cmd/browser/browser_machs.go
  examples/wasm_workflow/cmd/browser/browser_test.go
  examples/wasm_workflow/cmd/orchestrator/orchestrator.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/conn_nowasm.go
  examples/wasm_workflow/conn_wasm.go
  examples/wasm_workflow/example_workflow.go
  examples/wasm_workflow/states/ss_workflow.go
  examples/wasm_workflow/states/states_utils.go
  examples/wasm_workflow/web/index.html
  examples/wasm_workflow/web/worker.js
Due: none

docs(examples): add WebWorker workflow example (#388)
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/cmd/browser/browser.go
  examples/wasm_workflow/cmd/browser/browser_machs.go
  examples/wasm_workflow/cmd/browser/browser_test.go
  examples/wasm_workflow/cmd/orchestrator/orchestrator.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/conn_nowasm.go
  examples/wasm_workflow/conn_wasm.go
  examples/wasm_workflow/example_workflow.go
  examples/wasm_workflow/states/ss_workflow.go
  examples/wasm_workflow/states/states_utils.go
  examples/wasm_workflow/web/index.html
  examples/wasm_workflow/web/worker.js
Due: none

feat(states): add ampipe.Sync for re-connects (#389)
  pkg/states/pipes/pipes.go
Due: pkg/states

feat(machine): add Tracer.TransitionFinals for more detailed tracing (#390)
  pkg/machine/misc_mach.go
  pkg/machine/transition.go
Due: pkg/machine

ci: fix disable
  .github/workflows/coverage.yml
Due: none

docs: update readmes, diagrams, changelog
  .github/workflows/coverage.yml
  README.md
  ROADMAP.md
  docs/diagrams.md
  docs/diagrams/example-wasm-workflow.d2
  docs/diagrams/example-wasm.d2
  docs/diagrams/flows-rpc-getter.mermaid
  docs/env-configs.md
  docs/manual.md
  docs/wasm.md
  examples/README.md
  examples/wasm/README.md
  examples/wasm_workflow/README.md
  pkg/history/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
  pkg/states/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
Due: pkg/machine, pkg/history, pkg/rpc, pkg/states, tools

Update README.md
  examples/wasm_workflow/README.md
Due: none

fix: fix mod replace, dbg import
  examples/README.md
  examples/wasm/Taskfile.yml
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  pkg/telemetry/otel.go
  tools/debugger/client_list.go
Due: pkg/telemetry, tools

fix(examples): fix build for wasm_workflow
  .gitignore
  examples/wasm_workflow/README.md
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/config.env
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
Due: none

feat(machine): add PoolFork, PoolSetLimit, PoolSetLimitGlobal for non-blocking pools
  examples/mach_template/mach_template.go
  pkg/machine/machine.go
  pkg/pubsub/topic.go
Due: pkg/machine, pkg/pubsub

feat(am-vis): add inspect-dump cmd producing a markdown version of the network graph
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
Due: tools
