Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

feat(am-dbg): add cancellation reasons to Log Reader (#452)
  pkg/machine/transition.go
  tools/debugger/log.go
Due: pkg/machine, tools

feat(machine): add ActivatedAt to relate activations to machine time
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

feat(integrations): integrate yaegi for interpreted state machines (#457)
  pkg/integrations/yaegi/Taskfile.yml
  pkg/integrations/yaegi/symbols/github_com-gookit-goutil-dump.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-helpers.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-machine.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-rpc-states.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-rpc.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-states-pipes.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-states.go
  pkg/integrations/yaegi/symbols/init.go
  pkg/integrations/yaegi/testdata/vfs/_pkg/src/host/host.go
  pkg/integrations/yaegi/testdata/vfs/interpreted.go
  pkg/integrations/yaegi/yaegi.go
  pkg/integrations/yaegi/yaegi_test.go
Due: none

feat(am-gen): drop deprecated methods (#455)
  tools/generator/schema.go
  tools/generator/schema_test.go
Due: tools

feat(machine): add ActivatedAt to relate activations to machine time (#456)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

feat(am-dbg): release am-dbg v0.19.2
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/types/dbg_types.go
Due: tools

feat(am-dbg): release am-dbg v0.19.2 (#458)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/types/dbg_types.go
Due: tools

feat: release v0.19.2
  .github/workflows/go-integration.yml
  Taskfile.yml
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/integrations/mcp-go/mcp.go
  pkg/machine/mach_utils.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/relations.go
  pkg/machine/schema.go
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/machine/types.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  pkg/states/ss_connected.go
  pkg/telemetry/dbg/dbg.go
  scripts/gen_website/gen_website.go
Due: pkg/machine, pkg/helpers, pkg/rpc, pkg/states, pkg/telemetry

feat: release v0.19.2 (#459)
  .github/workflows/go-integration.yml
  Taskfile.yml
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/integrations/mcp-go/mcp.go
  pkg/machine/mach_utils.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/relations.go
  pkg/machine/schema.go
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/machine/types.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  pkg/states/ss_connected.go
  pkg/telemetry/dbg/dbg.go
  scripts/gen_website/gen_website.go
Due: pkg/machine, pkg/helpers, pkg/rpc, pkg/states, pkg/telemetry

fix(machine): validate empty state names (#454)
  pkg/machine/mach_utils.go
Due: pkg/machine

feat(machine): add WhenTimeSum to wait for machine time (#453)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/subscriptions.go
  pkg/machine/types.go
Due: pkg/machine

docs: update readmes
  CHANGELOG.md
  README.md
  docs/editors/README.md
  docs/manual.md
  examples/README.md
  examples/benchmark_grpc/README.md
  examples/benchmark_libp2p_pubsub/README.md
  examples/benchmark_state_source/README.md
  examples/wasm/README.md
  examples/wasm_workflow/README.md
  pkg/helpers/README.md
  pkg/history/README.md
  pkg/integrations/README.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/pubsub/README.md
  pkg/rpc/HOWTO.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
  tools/debugger/README.md
Due: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools

chore: add changelog generator
  Taskfile.yml
  scripts/gen_changelog/gen_changelog.go
Due: none

chore: update release notes
  docs/release-notes.md
Due: none

chore: update readme
  pkg/integrations/README.md
Due: none

fix(rpc): retry mutation on conn retry
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_test.go
Due: pkg/rpc

feat(rpc): add go-iroh overlay for aRPC
  pkg/rpc/iroh/iroh.go
  pkg/rpc/iroh/iroh_test.go
  pkg/rpc/iroh/netmach_test.go
Due: pkg/rpc

feat(rpc): add API keys to WebSocket aRPC connections
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

feat(relay): add API keys to relayed WebSocket connections
  tools/relay/relay.go
Due: tools

feat(am-dbg): replace step timeline with marker timeline
  tools/debugger/README.md
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/tree.go
Due: tools

feat(relay): add --output-mach and --output-clients
  tools/relay/relay.go
  tools/relay/types/types_relay.go
Due: tools

feat(am-dbg): add --output-mach to dump the current machine and schema in --dir
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
Due: tools

test(machine): bump line coverage to 90%
  pkg/machine/coverage_test.go
Due: pkg/machine

test(am-relay): add /tunnel/ and /dial/ tests for am-relay
  tools/relay/relay_test.go
Due: tools

test(repl): add CLI and REPL tests for arpc
  tools/repl/repl_test.go
Due: tools

feat(am-gen): add schema-from-file cmd for YAML inputs
  tools/generator/generator_test.go
  tools/generator/schema.go
  tools/generator/schema_test.go
Due: tools

feat(am-gen): add starter-kit cmd for YAML inputs
  tools/generator/integration_test.go
  tools/generator/starter.go
  tools/generator/testdata/schema.yml
  tools/generator/testdata/starter-kit/go.mod
  tools/generator/testdata/starter-kit/go.sum
  tools/generator/testdata/starter-kit/handlers.go
  tools/generator/testdata/starter-kit/starter_mach.go
  tools/generator/testdata/starter-kit/starter_mach_test.go
  tools/generator/testdata/starter-kit/states/ss_starter.go
Due: tools

docs: add getting started tutorial
  docs/getting-started.md
Due: none

test(repl): add CLI and REPL tests for aRPC (#461)
  tools/repl/repl_test.go
Due: tools

test(machine): bump line coverage to 90% (#462)
  pkg/machine/coverage_test.go
Due: pkg/machine

test(am-relay): add /tunnel/ and /dial/ tests for am-relay (#463)
  tools/relay/relay_test.go
Due: tools

feat(rpc): add go-iroh overlay for aRPC (#464)
  pkg/rpc/iroh/iroh.go
  pkg/rpc/iroh/iroh_test.go
  pkg/rpc/iroh/netmach_test.go
Due: pkg/rpc

fix(rpc): retry mutation on conn retry (#465)
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_test.go
Due: pkg/rpc

feat(rpc): add API keys to WebSocket aRPC connections (#466)
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

Path conditions:
  pkg/machine: any of: pkg/machine/**, but not: pkg/pubsub/uds/**
  pkg/helpers: any of: pkg/helpers/**, but not: pkg/pubsub/uds/**
  pkg/history: any of: pkg/history/**, but not: pkg/pubsub/uds/**
  pkg/node: any of: pkg/node/**, but not: pkg/pubsub/uds/**
  pkg/pubsub: any of: pkg/pubsub/**, but not: pkg/pubsub/uds/**
  pkg/rpc: any of: pkg/rpc/**, but not: pkg/pubsub/uds/**
  pkg/states: any of: pkg/states/**, but not: pkg/pubsub/uds/**
  pkg/telemetry: any of: pkg/telemetry/**, but not: pkg/pubsub/uds/**
  tools: any of: tools/**, but not: pkg/pubsub/uds/**
  internal: any of: internal/**, but not: pkg/pubsub/uds/**
