Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

feat(machine): add SemLogger.Pipes() returning currently bound pipes
  pkg/machine/mach_misc.go
  pkg/machine/mach_misc_test.go
  pkg/machine/mach_utils.go
  pkg/machine/mach_utils_test.go
  pkg/machine/machine.go
  pkg/rpc/rpc.go
  pkg/telemetry/dbg/dbg.go
Due: pkg/machine, pkg/rpc, pkg/telemetry

feat(machine): add PoolFork, PoolSetLimit, PoolSetLimitGlobal for non-blocking pools (#397)
  examples/mach_template/mach_template.go
  pkg/machine/machine.go
  pkg/pubsub/topic.go
Due: pkg/machine, pkg/pubsub

feat(machine): add SemLogger.Pipes() returning currently bound pipes (#398)
  pkg/machine/mach_misc.go
  pkg/machine/mach_misc_test.go
  pkg/machine/mach_utils.go
  pkg/machine/mach_utils_test.go
  pkg/machine/machine.go
  pkg/rpc/rpc.go
  pkg/telemetry/dbg/dbg.go
Due: pkg/machine, pkg/rpc, pkg/telemetry

feat(am-vis): add inspect-dump cmd producing a markdown version of th… (#399)
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
Due: tools

feat: release v0.18.6
  .gitignore
  Taskfile.yml
  examples/basic/basic.go
  examples/basic/basic_test.go
  examples/basic/states/states.go
  examples/raw_strings/raw_strings.go
  examples/raw_strings/raw_strings_test.go
  examples/tree_state_source/gen_states/gen_states.go
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/am-vis.md
  examples/wasm_workflow/cmd/browser/browser_machs.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/example_workflow.go
  examples/workflow/states/states_utils.go
  go.mod
  go.sum
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/machine/schema.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  pkg/states/global/states_utils.go
  pkg/states/pipes/pipes.go
  pkg/states/ss_basic.go
  pkg/states/ss_connected.go
  pkg/states/ss_disposed.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
  tools/cmd/am-gen/cmd_gen.go
  tools/debugger/dbg_handlers.go
  tools/debugger/ui.go
  tools/generator/cli/cli.go
  tools/generator/schema.go
  tools/generator/schema_test.go
  tools/visualizer/types/cli_vis.go
Due: pkg/machine, pkg/helpers, pkg/rpc, pkg/states, tools

feat: release v0.18.6 (#400)
  .gitignore
  Taskfile.yml
  examples/basic/basic.go
  examples/basic/basic_test.go
  examples/basic/states/states.go
  examples/raw_strings/raw_strings.go
  examples/raw_strings/raw_strings_test.go
  examples/tree_state_source/gen_states/gen_states.go
  examples/wasm_workflow/Taskfile.yml
  examples/wasm_workflow/am-vis.md
  examples/wasm_workflow/cmd/browser/browser_machs.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/example_workflow.go
  examples/workflow/states/states_utils.go
  go.mod
  go.sum
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/machine/schema.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  pkg/states/global/states_utils.go
  pkg/states/pipes/pipes.go
  pkg/states/ss_basic.go
  pkg/states/ss_connected.go
  pkg/states/ss_disposed.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
  tools/cmd/am-gen/cmd_gen.go
  tools/debugger/dbg_handlers.go
  tools/debugger/ui.go
  tools/generator/cli/cli.go
  tools/generator/schema.go
  tools/generator/schema_test.go
  tools/visualizer/types/cli_vis.go
Due: pkg/machine, pkg/helpers, pkg/rpc, pkg/states, tools

docs: update readmes, cookbook
  CHANGELOG.md
  FAQ.md
  README.md
  docs/cookbook.md
  docs/env-configs.md
  docs/manual.md
  docs/wasm.md
  examples/README.md
  examples/wasm_workflow/README.md
  pkg/history/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, pkg/history, pkg/rpc, tools

chore: remove debug
  Taskfile.yml
  examples/README.md
  examples/wasm_workflow/README.md
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  pkg/telemetry/dbg/dbg.go
Due: pkg/telemetry

test: add tests for examples
  Taskfile.yml
  examples/arpc/arpc_test.go
  examples/basic/basic_test.go
  examples/cli/cli_test.go
  examples/cli_daemon/cli_daemon_test.go
  examples/cli_daemon/daemon.addr
  examples/cli_daemon/daemon/main.go
  examples/dag_dependency_graph/dependency_graph_test.go
  examples/fan_out_in/fan_out_in_test.go
  examples/mach_template/example.env
  examples/mach_template/mach_template.go
  examples/mach_template/mach_template_test.go
  examples/pipes/example_pipes.go
  examples/pipes/pipes_test.go
  examples/repl/main.go
  examples/subscriptions/subscriptions_test.go
  examples/workflow/states/states_utils.go
  pkg/machine/machine.go
Due: pkg/machine

test: add tests for examples (#401)
  Taskfile.yml
  examples/arpc/arpc_test.go
  examples/basic/basic_test.go
  examples/cli/cli_test.go
  examples/cli_daemon/cli_daemon_test.go
  examples/cli_daemon/daemon.addr
  examples/cli_daemon/daemon/main.go
  examples/dag_dependency_graph/dependency_graph_test.go
  examples/fan_out_in/fan_out_in_test.go
  examples/mach_template/example.env
  examples/mach_template/mach_template.go
  examples/mach_template/mach_template_test.go
  examples/pipes/example_pipes.go
  examples/pipes/pipes_test.go
  examples/repl/main.go
  examples/subscriptions/subscriptions_test.go
  examples/workflow/states/states_utils.go
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): remove counter-mut duplicate detection
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add `CtxToEv` and `EvToCtx`
  pkg/machine/mach_misc.go
Due: pkg/machine

feat(am-dbg): add state-trace to the reader
  tools/debugger/log.go
Due: tools

feat(am-dbg): add explicit focus management
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: tools

feat(am-dbg): add light theme via `--view-theme light`
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/themes.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add diagram filtering (group, called, changed, touched, relations, selected)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
  tools/visualizer/visualizer_test.go
Due: tools

feat(machine): add `Next*Active*` tick helpers
  pkg/machine/mach_utils.go
Due: pkg/machine

fix(machine): remove counter-mut duplicate detection (#402)
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add `CtxToEv` and `EvToCtx` (#403)
  pkg/machine/mach_misc.go
Due: pkg/machine

feat(machine): add `Next*Active*` tick helpers (#404)
  pkg/machine/mach_utils.go
Due: pkg/machine

feat(am-dbg): add state-trace to the reader (#405)
  tools/debugger/log.go
Due: tools

feat(am-dbg): add stack traces to queued mutations
  pkg/telemetry/dbg/dbg.go
  tools/debugger/log.go
  tools/debugger/states/ss_dbg.go
Due: pkg/telemetry, tools

feat(am-dbg): add stack traces to queued mutations (#406)
  pkg/telemetry/dbg/dbg.go
  tools/debugger/log.go
  tools/debugger/states/ss_dbg.go
Due: pkg/telemetry, tools

feat(am-dbg): add explicit focus management (#407)
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: tools

feat(am-dbg): add light theme via `--view-theme light` (#408)
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/themes.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add diagram filtering (group, called, changed, touched, relations, selected) (#409)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
  tools/visualizer/visualizer_test.go
Due: tools

feat(am-dbg): release am-dbg v0.18.8
  pkg/telemetry/dbg/dbg.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/states/states_utils.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: pkg/telemetry, tools

feat(am-dbg): release am-dbg v0.18.8 (#410)
  pkg/telemetry/dbg/dbg.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/states/states_utils.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: pkg/telemetry, tools

feat: release v0.18.8
  .gitignore
  .golangci.yml
  Taskfile.yml
  examples/arpc/arpc_test.go
  examples/basic/basic_test.go
  examples/cli/cli_test.go
  examples/cli_daemon/cli_daemon_test.go
  examples/dag_dependency_graph/dependency_graph_test.go
  examples/fan_out_in/fan_out_in_test.go
  examples/mach_template/mach_template.go
  examples/mach_template/mach_template_test.go
  examples/pipes/pipes_test.go
  examples/raw_strings/raw_strings_test.go
  examples/repl/main.go
  examples/subscriptions/subscriptions_test.go
  examples/tree_state_source/cmd_state_node.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/cmd/am-dbg-worker/main_dbg_worker.go
  internal/testing/testing.go
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/history/hist_example_test.go
  pkg/machine/mach_utils.go
  pkg/machine/types.go
  pkg/rpc/rpc_server.go
  pkg/telemetry/otel.go
  scripts/gen_website/gen_website.go
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/ui.go
Due: pkg/machine, pkg/helpers, pkg/history, pkg/rpc, pkg/telemetry, tools, internal

feat: release v0.18.8 (#411)
  .gitignore
  .golangci.yml
  Taskfile.yml
  examples/arpc/arpc_test.go
  examples/basic/basic_test.go
  examples/cli/cli_test.go
  examples/cli_daemon/cli_daemon_test.go
  examples/dag_dependency_graph/dependency_graph_test.go
  examples/fan_out_in/fan_out_in_test.go
  examples/mach_template/mach_template.go
  examples/mach_template/mach_template_test.go
  examples/pipes/pipes_test.go
  examples/raw_strings/raw_strings_test.go
  examples/repl/main.go
  examples/subscriptions/subscriptions_test.go
  examples/tree_state_source/cmd_state_node.go
  examples/wasm_workflow/config.env
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/cmd/am-dbg-worker/main_dbg_worker.go
  internal/testing/testing.go
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/history/hist_example_test.go
  pkg/machine/mach_utils.go
  pkg/machine/types.go
  pkg/rpc/rpc_server.go
  pkg/telemetry/otel.go
  scripts/gen_website/gen_website.go
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/ui.go
Due: pkg/machine, pkg/helpers, pkg/history, pkg/rpc, pkg/telemetry, tools, internal

docs: update readmes
  .gitignore
  CHANGELOG.md
  README.md
  docs/cookbook.md
  docs/env-configs.md
  examples/README.md
  examples/benchmark_grpc/README.md
  examples/benchmark_libp2p_pubsub/README.md
  examples/benchmark_state_source/README.md
  examples/tree_state_source/README.md
  examples/wasm/README.md
  examples/wasm_workflow/README.md
  pkg/helpers/README.md
  pkg/history/README.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/pubsub/README.md
  pkg/rpc/HOWTO.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
  tools/debugger/README.md
Due: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools

feat(machine): include relations in TimeAfter for negotiation
  pkg/machine/transition.go
Due: pkg/machine

feat(am-dbg): add full transition history navigation
  tools/debugger/debugger.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add MCP server and REPL
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): standardize machine URLs, add selection and query strings
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
Due: tools

feat(docs): add editor templates and AI skills
  docs/editors/README.md
  docs/editors/SKILL.md
  docs/editors/mini.md
  docs/editors/schema.go
  docs/editors/states.md
Due: none

feat(am-vis): improve transition steps diagrams, mach viewer
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/tx.go
  tools/visualizer/visualizer.go
Due: tools

feat(graph): add XML graph format
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/types/dbg_types.go
Due: tools

feat(am-dbg): add --output-call-log for statically typed handler log
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(integrations): add mcp-go server creator
  pkg/integrations/mcp/mcp.go
Due: none
