Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

feat(machine): add strict breakpoints (#286)
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): add QueueTick, WhenQueue
  pkg/machine/machine.go
  pkg/machine/types.go
  pkg/machine/utils.go
Due: pkg/machine

feat(machine): add QueueTick, WhenQueue (#287)
  pkg/machine/machine.go
  pkg/machine/types.go
  pkg/machine/utils.go
Due: pkg/machine

feat(machine): simulate TimeAfter for called states (#288)
  pkg/machine/transition.go
Due: pkg/machine

feat(am-dbg): progressive log rendering (#289)
  tools/debugger/handlers.go
  tools/debugger/log.go
  tools/debugger/states/ss_dbg.go
Due: tools

feat(am-dbg): add queued and canceled txs to log view (#290)
  pkg/telemetry/dbg.go
  tools/debugger/log.go
Due: pkg/telemetry, tools

feat(am-dbg): add queue section to log reader (#291)
  tools/debugger/log.go
Due: tools

feat(helpers): add blocking Add1Sync (#293)
  pkg/helpers/help.go
Due: pkg/helpers

feat(am-dbg): release am-dbg v0.15
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/ui.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): release am-dbg v0.15 (#294)
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/ui.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
Due: tools

docs: release v0.15
  README.md
  ROADMAP.md
  docs/diagrams.md
  docs/env-configs.md
  docs/manual.md
  examples/tree_state_source/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
Due: pkg/machine, pkg/rpc

docs: release v0.15 (#296)
  README.md
  ROADMAP.md
  docs/diagrams.md
  docs/env-configs.md
  docs/manual.md
  examples/tree_state_source/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
Due: pkg/machine, pkg/rpc

ci: fix linter
  ROADMAP.md
  docs/manual.md
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/testing.go
  pkg/machine/README.md
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
  pkg/rpc/README.md
  pkg/x/helpers/x_help_test.go
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/states/ss_dbg.go
  tools/visualizer/visualizer.go
Due: pkg/machine, pkg/rpc, tools, internal

fix: fix handler race
  .github/workflows/go.yml
  CHANGELOG.md
  Taskfile.yml
  docs/diagrams.md
  pkg/machine/machine.go
Due: pkg/machine

docs: update breaking changes
  BREAKING.md
Due: none

feat(rpc): support queue ticks and checksums
  .github/workflows/go-badges.yml
  .github/workflows/go.yml
  Taskfile.yml
  internal/testing/utils/test_utils.go
  pkg/helpers/help.go
  pkg/helpers/testing/test_help.go
  pkg/machine/README.md
  pkg/machine/machine.go
  pkg/machine/misc_mach.go
  pkg/machine/resolver.go
  pkg/machine/types.go
  pkg/machine/typesafe.go
  pkg/machine/utils.go
  pkg/node/node_test.go
  pkg/node/test/worker/node_test_worker.go
  pkg/pubsub/topic.go
  pkg/rpc/README.md
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/rpc_worker.go
  pkg/rpc/rpcnames/rpcnames.go
  pkg/telemetry/dbg.go
  tools/debugger/debugger.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: pkg/machine, pkg/helpers, pkg/node, pkg/pubsub, pkg/rpc, pkg/telemetry, tools, internal

feat(rpc): support queue ticks and checksums (#297)
  .github/workflows/go-badges.yml
  .github/workflows/go.yml
  Taskfile.yml
  internal/testing/utils/test_utils.go
  pkg/helpers/help.go
  pkg/helpers/testing/test_help.go
  pkg/machine/README.md
  pkg/machine/machine.go
  pkg/machine/misc_mach.go
  pkg/machine/resolver.go
  pkg/machine/types.go
  pkg/machine/typesafe.go
  pkg/machine/utils.go
  pkg/node/node_test.go
  pkg/node/test/worker/node_test_worker.go
  pkg/pubsub/topic.go
  pkg/rpc/README.md
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/rpc_worker.go
  pkg/rpc/rpcnames/rpcnames.go
  pkg/telemetry/dbg.go
  tools/debugger/debugger.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: pkg/machine, pkg/helpers, pkg/node, pkg/pubsub, pkg/rpc, pkg/telemetry, tools, internal

feat(machine): optimize ctx-based GC
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
  pkg/machine/relations.go
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/machine/utils.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/log.go
  tools/repl/cli_repl.go
Due: pkg/machine, pkg/helpers, tools

feat(machine): optimize ctx-based GC (#298)
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
  pkg/machine/relations.go
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/machine/utils.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/log.go
  tools/repl/cli_repl.go
Due: pkg/machine, pkg/helpers, tools

feat(rpc): inherit Subscriptions from pkg/machine
  pkg/pubsub/topic.go
  pkg/rpc/README.md
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_worker.go
Due: pkg/pubsub, pkg/rpc

feat(rpc): inherit Subscriptions from pkg/machine (#299)
  pkg/pubsub/topic.go
  pkg/rpc/README.md
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_worker.go
Due: pkg/pubsub, pkg/rpc

docs: update readmes
  .github/workflows/go-badges.yml
  .golangci.yml
  BREAKING.md
  CHANGELOG.md
  FAQ.md
  README.md
  Taskfile.yml
  docs/diagrams.md
  pkg/machine/README.md
Due: pkg/machine

chore: refix handler race
  pkg/machine/machine.go
Due: pkg/machine

chore: update readmes
  README.md
  tools/cmd/am-dbg/README.md
Due: tools

fix(machine): fix empty args map
  docs/env-configs.md
  pkg/machine/types.go
  pkg/telemetry/dbg.go
Due: pkg/machine, pkg/telemetry

feat(am-dbg): add `--enable-clipboard=false`
  README.md
  Taskfile.yml
  config/dashboards/dash-repl-web.kdl
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  pkg/graph/graph.go
  pkg/node/node_test.go
  pkg/pubsub/pubsub_test.go
  pkg/rpc/rpc_test.go
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/README.md
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/test/integration_test.go
  tools/generator/schema.go
Due: pkg/node, pkg/pubsub, pkg/rpc, tools, internal

fix(rpc): fix queue ticks and tracers
  pkg/machine/subscriptions.go
  pkg/rpc/README.md
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_worker.go
Due: pkg/machine, pkg/rpc

fix(rpc): fix queue ticks and tracers (#301)
  pkg/machine/subscriptions.go
  pkg/rpc/README.md
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_worker.go
Due: pkg/machine, pkg/rpc

fix(machine): fix empty args map (#302)
  docs/env-configs.md
  pkg/machine/types.go
  pkg/telemetry/dbg.go
Due: pkg/machine, pkg/telemetry

feat(am-dbg): add `--enable-clipboard=false` (#300)
  README.md
  Taskfile.yml
  config/dashboards/dash-repl-web.kdl
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  pkg/graph/graph.go
  pkg/node/node_test.go
  pkg/pubsub/pubsub_test.go
  pkg/rpc/rpc_test.go
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/README.md
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/test/integration_test.go
  tools/generator/schema.go
Due: pkg/node, pkg/pubsub, pkg/rpc, tools, internal

chore: fix test race
  CHANGELOG.md
  pkg/machine/README.md
  pkg/rpc/rpc_machine_test.go
Due: pkg/machine, pkg/rpc

ci: create empty github-repo-stats branch
  .github/workflows/github-repo-stats.yml
Due: none

ci: add github-repo-stats
  .github/workflows/github-repo-stats.yml
Due: none

ghrs: snap 11-06-2309-F931 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-06_230949_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-06-2309-F931 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-06_230949_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-06-2309-F931 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/forks.csv
  pancsta/asyncmachine-go/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-06-2309-F931 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/README.md
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
  pancsta/asyncmachine-go/latest-report/resources/github-markdown.css
Due: none

ghrs: snap 11-07-2309-920E for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-07_230923_views_clones_series_fragment.csv
Due: none

Path conditions:
  pkg/machine: any of: pkg/machine/**, but not: pkg/pubsub/uds/**
  pkg/helpers: any of: pkg/helpers/**, but not: pkg/pubsub/uds/**
  pkg/history: any of: pkg/history/**, but not: pkg/pubsub/uds/**
  pkg/node: any of: pkg/node/**, but not: pkg/pubsub/uds/**
  pkg/pubsub: any of: pkg/pubsub/**, but not: pkg/pubsub/uds/**
  pkg/rpc: any of: pkg/rpc/**, but not: pkg/pubsub/uds/**
  pkg/states: any of: pkg/states/**, but not: pkg/pubsub/uds/**
  pkg/telemetry: any of: pkg/telemetry/**, but not: pkg/pubsub/uds/**
  tools: any of: tools/**, but not: pkg/pubsub/uds/**
  internal: any of: internal/**, but not: pkg/pubsub/uds/**
