Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

feat(helpers): add SchemaStates, SchemaImplements, OnDispose (#332)
  pkg/helpers/help.go
Due: pkg/helpers

feat(rpc): add partial, shallow, and mutation-clock syncing, also handler piping (#333)
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/rpc_worker.go
  pkg/rpc/states/ss_mux.go
  pkg/rpc/states/ss_rpc.go
  pkg/rpc/states/ss_rpc_client.go
  pkg/rpc/states/ss_rpc_consumer.go
  pkg/rpc/states/ss_rpc_server.go
  pkg/rpc/states/ss_rpc_shared.go
  pkg/rpc/states/ss_rpc_worker.go
  pkg/rpc/utils_test.go
  pkg/states/pipes/pipes.go
Due: pkg/rpc, pkg/states

feat(node): add defaults to constructors, align with `pkg/rpc` (#334)
  pkg/node/node_client.go
  pkg/node/node_test.go
  pkg/node/node_worker.go
  pkg/node/states/ss_bootstrap.go
  pkg/node/states/ss_node_client.go
  pkg/node/states/ss_node_worker.go
  pkg/node/states/ss_supervisor.go
  pkg/node/supervisor.go
  pkg/node/supervisor_misc.go
  pkg/node/test/worker/node_test_worker.go
Due: pkg/node

docs: update manual, readmes, diagrams
  .github/BUMP
  BREAKING.md
  CHANGELOG.md
  FAQ.md
  README.md
  ROADMAP.md
  Taskfile.yml
  docs/diagrams.md
  docs/diagrams/arpc-dist-mach.d2
  docs/diagrams/arpc-handlers.d2
  docs/diagrams/arpc-sync-clocks.d2
  docs/diagrams/arpc-sync-details.d2
  docs/diagrams/arpc.d2
  docs/diagrams/basics-clocks.mermaid
  docs/diagrams/basics-handlers.mermaid
  docs/diagrams/basics-multi.mermaid
  docs/diagrams/basics-negotiation.mermaid
  docs/diagrams/basics-queue.mermaid
  docs/diagrams/basics-relations.mermaid
  docs/diagrams/basics-subscriptions.mermaid
  docs/diagrams/flows-legend.mermaid
  docs/diagrams/flows-rpc-getter.mermaid
  docs/diagrams/flows-worker-bootstrap.mermaid
  docs/diagrams/node-worker-pool.mermaid
  docs/diagrams/tx-lifecycle.d2
  docs/env-configs.md
  docs/manual.md
  examples/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
Due: tools

chore: fix test race
  .github/workflows/go-badges.yml
  Taskfile.yml
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
Due: pkg/rpc

fix(machine): fix IsQueued for `PositionLast`
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): fix SetSchema err handling
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add OnChange handler
  pkg/machine/machine.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine

chore: add dedicated go.mod for `/scripts`
  go.mod
  go.sum
  scripts/go.mod
  scripts/go.sum
Due: none

feat(repl): add typed args support with completion
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  tools/cmd/arpc/cmd_arpc.go
  tools/repl/cli_repl.go
  tools/repl/misc_repl.go
  tools/repl/repl.go
Due: pkg/rpc, tools

feat(am-dbg): add disconnected filter
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/ui.go
Due: tools

fix(machine): fix SetSchema err handling (#339)
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): fix IsQueued for `PositionLast` (#340)
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add OnChange handler (#341)
  pkg/machine/machine.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine

feat(am-dbg): add disconnected filter (#342)
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/ui.go
Due: tools

feat(repl): add typed args support with completion (#343)
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/states/ss_rpc.go
  tools/cmd/arpc/cmd_arpc.go
  tools/repl/cli_repl.go
  tools/repl/misc_repl.go
  tools/repl/repl.go
Due: pkg/rpc, tools

chore: add dedicated go.mod for `/scripts` (#344)
  go.mod
  go.sum
  scripts/go.mod
  scripts/go.sum
Due: none

docs: update readmes
  .env.template
  .github/workflows/go-badges.yml
  .gitignore
  CHANGELOG.md
  README.md
  ROADMAP.md
  docs/diagrams.md
  docs/diagrams/example-bench-state-source.mermaid
  docs/diagrams/example-tree-state-source.mermaid
  docs/env-configs.md
  docs/manual.md
  examples/README.md
  examples/benchmark_grpc/README.md
  examples/benchmark_state_source/README.md
  examples/cli_daemon/README.md
  examples/tree_state_source/README.md
  pkg/machine/README.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, pkg/rpc, pkg/states, pkg/telemetry, tools

chore: fix readme
  .github/workflows/go-badges.yml
  .github/workflows/go-basic.yml
  scripts/gen_website/gen_website.go
Due: none

chore: fix readme gif
  README.md
Due: none

fix(machine): dont call handlers of partially rejected auto states
  pkg/machine/transition.go
Due: pkg/machine

fix(machine): fix self handlers only triggered for called states
  pkg/machine/machine_test.go
  pkg/machine/transition.go
Due: pkg/machine

fix(repl): fix cobra flag value slices not reset
  tools/repl/cli_repl.go
Due: tools

fix(rpc): fix args value parsing
  pkg/rpc/mux.go
  pkg/rpc/rpc_server.go
Due: pkg/rpc

feat(machine): add graceful shutdown
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): add more `Transition.TimeIndex*` methods
  pkg/machine/transition.go
Due: pkg/machine

feat(relay): add listening on TCP via WebSockets
  tools/cmd/am-relay/cmd_relay.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/relay_cli.go
  tools/relay/types/types_relay.go
  tools/relay/ws_tcp_tun.go
Due: tools

feat(am-dbg): add `--output-tx` to output current tx in MD and diagrams
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
Due: tools

feat(visualizer): generate tx sequence diagrams (D2, mermaid, ASCII, SVG)
  tools/visualizer/tx.go
Due: tools

feat(machine): add `Machine.Fork` and `Machine.Go` sugar
  pkg/machine/machine.go
Due: pkg/machine

docs(examples): add WASM example with REPL
  examples/wasm/Taskfile.yml
  examples/wasm/client/index.html
  examples/wasm/client/wasm_client.go
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/client/wasm_client_test.go
  examples/wasm/server/wasm_server.go
  examples/wasm/states/ss_wa_sm.go
  examples/wasm/states/states_utils.go
  examples/wasm/wasm_example.go
Due: none

feat(telemetry): dbg protocol moved to `/pkg/telemetry/dbg`
  pkg/telemetry/dbg/dbg.go
Due: pkg/telemetry

feat(am-vis): render all machs when no URL given
  tools/cmd/am-vis/cmd_vis.go
Due: tools

chore(am-dbg-ssh): `am-dbg-ssh` is now EOL
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
Due: tools

fix(machine): dont call handlers of partially rejected auto states (#347)
  pkg/machine/transition.go
Due: pkg/machine

fix(machine): fix self handlers only triggered for called states (#348)
  pkg/machine/machine_test.go
  pkg/machine/transition.go
Due: pkg/machine

Path conditions:
  pkg/machine: any of: pkg/machine/**, but not: pkg/pubsub/uds/**
  pkg/helpers: any of: pkg/helpers/**, but not: pkg/pubsub/uds/**
  pkg/history: any of: pkg/history/**, but not: pkg/pubsub/uds/**
  pkg/node: any of: pkg/node/**, but not: pkg/pubsub/uds/**
  pkg/pubsub: any of: pkg/pubsub/**, but not: pkg/pubsub/uds/**
  pkg/rpc: any of: pkg/rpc/**, but not: pkg/pubsub/uds/**
  pkg/states: any of: pkg/states/**, but not: pkg/pubsub/uds/**
  pkg/telemetry: any of: pkg/telemetry/**, but not: pkg/pubsub/uds/**
  tools: any of: tools/**, but not: pkg/pubsub/uds/**
  internal: any of: internal/**, but not: pkg/pubsub/uds/**
