Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

refac(machine): move funcs into methods of `S` and `Schema` (#440)
  pkg/machine/mach_utils.go
Due: pkg/machine

fix(helpers): fix NewReqRemove was adding not removing, add req.Event (#441)
  pkg/helpers/help.go
Due: pkg/helpers

chore: fix linter
  Taskfile.yml
  examples/wasm_workflow/example_workflow.go
  pkg/graph/graph.go
  pkg/helpers/help.go
  pkg/history/history.go
  pkg/machine/mach_misc_test.go
  pkg/machine/mach_utils.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/schema.go
  pkg/machine/subscriptions.go
  pkg/node/node.go
  pkg/node/node_client.go
  pkg/node/node_worker.go
  pkg/node/supervisor.go
  pkg/pubsub/topic.go
  pkg/rpc/netmach.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/states/pipes/pipes.go
  pkg/telemetry/otel.go
  pkg/telemetry/otel_nowasm.go
  pkg/telemetry/otel_wasm.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/ui.go
  tools/debugger/utils.go
  tools/generator/grafana.go
  tools/generator/schema.go
  tools/relay/relay.go
  tools/repl/cli_repl.go
  tools/repl/misc_repl.go
  tools/visualizer/tx.go
  tools/visualizer/visualizer.go
Due: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools

docs: update readmes
  BREAKING.md
  CHANGELOG.md
  FAQ.md
  README.md
  docs/cookbook.md
  docs/manual.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-gen/README.md
Due: pkg/machine, pkg/node, pkg/rpc, pkg/states, pkg/telemetry, tools

chore: add post-release bits
  README.md
  Taskfile.yml
  docs/release-notes.md
  examples/wasm_workflow/go.mod
  examples/wasm_workflow/go.sum
  go.mod
  go.sum
  pkg/machine/README.md
  pkg/machine/types.go
  pkg/rpc/README.md
  scripts/go.mod
  scripts/go.sum
Due: pkg/machine, pkg/rpc

feat(machine): enable state ctx for inactive states
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/rpc/netmach.go
Due: pkg/machine, pkg/rpc

feat(am-dbg): unify diagram viewer for graph, mach, state, steps
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/diagrams.go
  tools/debugger/states/ss_dbg.go
Due: tools

feat(am-dbg): unify diagram viewer for graph, mach, state, steps
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/tx.go
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): add loading spinner
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/states/ss_dbg.go
Due: tools

feat(machine): enable state ctx for inactive states (#444)
  pkg/machine/subscriptions.go
  pkg/machine/transition.go
  pkg/rpc/netmach.go
Due: pkg/machine, pkg/rpc

feat(am-dbg): unify diagram viewer for graph, mach, state, steps (#445)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/diagrams.go
  tools/debugger/states/ss_dbg.go
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/tx.go
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): add loading spinner (#446)
  tools/debugger/debugger.go
  tools/debugger/states/ss_dbg.go
Due: tools

feat(am-dbg): release am-dbg v0.19.1
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): release am-dbg v0.19.1 (#447)
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat: release v0.19.1
  scripts/gen_website/gen_website.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/repl/cli_repl.go
  tools/repl/misc_repl.go
Due: tools

feat: release v0.19.1 (#448)
  scripts/gen_website/gen_website.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/repl/cli_repl.go
  tools/repl/misc_repl.go
Due: tools

chore: add skipped mach bits
  pkg/machine/mach_misc.go
  pkg/machine/mach_utils.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/rpc/netmach_test.go
Due: pkg/machine, pkg/rpc

docs: update readmes
  .github_changelog_generator
  CHANGELOG.md
  FAQ.md
  Taskfile.yml
  docs/manual.md
  pkg/machine/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, tools

chore: update readmes
  .github/workflows/go-basic.yml
  docs/release-notes.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
Due: tools

chore: update readmes
  FAQ.md
  README.md
  docs/manual.md
  docs/release-notes.md
Due: none

fix(am-dbg): fix diagram reconn panic when no machine selected
  tools/debugger/diagrams.go
Due: tools

fix(am-dbg): fix diagram reconn panic when no machine selected (#450)
  tools/debugger/diagrams.go
Due: tools

chore: update readmes
  README.md
  pkg/machine/README.md
Due: pkg/machine

chore: update readmes
  FAQ.md
  README.md
  pkg/machine/README.md
Due: pkg/machine

chore: update readmes
  README.md
  ROADMAP.md
  pkg/machine/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, tools

fix(machine): validate empty state names
  pkg/machine/mach_utils.go
Due: pkg/machine

feat(machine): add WhenTimeSum to wait for machine time
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/subscriptions.go
  pkg/machine/types.go
Due: pkg/machine

feat(am-dbg): add cancellation reasons to Log Reader
  pkg/machine/transition.go
  tools/debugger/log.go
Due: pkg/machine, tools

feat(am-dbg): add cancellation reasons to Log Reader
  tools/generator/schema.go
  tools/generator/schema_test.go
Due: tools

feat(integrations): integrate yaegi for interpreted state machines
  pkg/integrations/yaegi/Taskfile.yml
  pkg/integrations/yaegi/symbols/github_com-gookit-goutil-dump.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-helpers.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-machine.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-rpc-states.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-rpc.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-states-pipes.go
  pkg/integrations/yaegi/symbols/github_com-pancsta-asyncmachine-go-pkg-states.go
  pkg/integrations/yaegi/symbols/init.go
  pkg/integrations/yaegi/testdata/vfs/_pkg/src/host/host.go
  pkg/integrations/yaegi/testdata/vfs/interpreted.go
  pkg/integrations/yaegi/yaegi.go
  pkg/integrations/yaegi/yaegi_test.go
Due: none

fix(machine): validate empty state names (#454)
  pkg/machine/mach_utils.go
Due: pkg/machine

feat(machine): add WhenTimeSum to wait for machine time (#453)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/subscriptions.go
  pkg/machine/types.go
Due: pkg/machine
