Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

feat(history): add BadgerDB backend
  examples/wasm/client/wasm_client.go
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/client/wasm_client_test.go
  examples/wasm/server/wasm_server.go
  pkg/history/badger/badger.go
  pkg/history/badger/badger_test.go
  pkg/history/history.go
  pkg/history/test/test_hist.go
Due: pkg/history

feat(machine): include relations in TimeAfter for negotiation (#413)
  pkg/machine/transition.go
Due: pkg/machine

feat(am-dbg): add MCP server and REPL (#414)
  tools/debugger/debugger.go
  tools/debugger/misc_dbg.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add full transition history navigation (#415)
  tools/debugger/debugger.go
  tools/debugger/ui.go
Due: tools

feat(graph): add XML graph format (#416)
  pkg/graph/graph.go
  tools/cmd/am-vis/cmd_vis.go
  tools/debugger/types/dbg_types.go
Due: tools

feat(am-dbg): standardize machine URLs, add selection and query strings (#417)
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
Due: tools

feat(am-dbg): add --output-call-log for statically typed handler log (#418)
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
Due: tools

feat(integrations): add mcp-go server creator (#419)
  pkg/integrations/mcp/mcp.go
Due: none

feat(docs): add editor templates and AI skills (#420)
  docs/editors/README.md
  docs/editors/SKILL.md
  docs/editors/mini.md
  docs/editors/schema.go
  docs/editors/states.md
Due: none

feat(history): add BadgerDB backend (#421)
  examples/wasm/client/wasm_client.go
  examples/wasm/client/wasm_client_machs.go
  examples/wasm/client/wasm_client_test.go
  examples/wasm/server/wasm_server.go
  pkg/history/badger/badger.go
  pkg/history/badger/badger_test.go
  pkg/history/history.go
  pkg/history/test/test_hist.go
Due: pkg/history

feat(am-vis): improve transition steps diagrams, mach viewer (#422)
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/tx.go
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): release am-dbg v0.18.9
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/themes.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: tools

feat(am-dbg): release am-dbg v0.18.9 (#423)
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/debugger.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/themes.go
  tools/debugger/tree.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils.go
Due: tools

docs: update readmes
  CHANGELOG.md
  FAQ.md
  README.md
  ROADMAP.md
  docs/ai.md
  docs/cookbook.md
  docs/manual.md
  docs/release-notes.md
  docs/wasm.md
  pkg/history/README.md
  pkg/history/badger/badger.go
  pkg/integrations/README.md
  pkg/machine/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, pkg/history, tools

chore: fix context7
  conetxt7.json
  context7.json
Due: none

chore: disable test-integration on CI
  .github/workflows/go-integration.yml
Due: none

fix(machine): fix returned queue tick was +1
  .github/workflows/go-integration.yml
  CHANGELOG.md
  docs/release-notes.md
  go.mod
  go.sum
  pkg/helpers/help.go
  pkg/machine/machine.go
  tools/debugger/client_list.go
  tools/debugger/dbg_handlers.go
  tools/debugger/test/integration_test.go
  tools/debugger/types/dbg_types.go
Due: pkg/machine, pkg/helpers, tools

feat(am-gen): add an optional global import
  tools/cmd/am-gen/cmd_gen.go
  tools/generator/cli/cli.go
  tools/generator/schema.go
  tools/generator/schema_test.go
Due: tools

feat(machine): add BindHandlerMaps for reflection-less bindings
  pkg/machine/mach_utils_test.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/types.go
Due: pkg/machine

fix(integrations): fix listing all args for untyped MCP mutations
  pkg/integrations/mcp/mcp.go
Due: none

feat(machine): improve nested eval detection
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

feat(machine): add per-state generic typed args
  examples/mach_template/mach_template.go
  pkg/machine/mach_misc.go
  pkg/machine/schema.go
  pkg/node/supervisor.go
  pkg/pubsub/topic.go
  pkg/rpc/mux.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
Due: pkg/machine, pkg/node, pkg/pubsub, pkg/rpc

fix(rpc): fix state ctx never closed
  pkg/rpc/netmach.go
Due: pkg/rpc

feat(machine): reuse subscription channels
  pkg/machine/subscriptions.go
Due: pkg/machine

feat(machine): add `ErrInternal()` channel
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): partially accepted auto txs shown as Canceled
  pkg/machine/transition.go
Due: pkg/machine

chore: add badges generator
  scripts/gen_badges/gen_badges.go
Due: none

refac(machine): move funcs to methods of `S` and `Schema`
  pkg/machine/mach_utils.go
Due: pkg/machine

fix(helpers): fix NewReqRemove was adding not removing, add req.Event
  pkg/helpers/help.go
Due: pkg/helpers

fix(integrations): fix listing all args for untyped MCP mutations (#430)
  pkg/integrations/mcp/mcp.go
Due: none

feat(machine): add BindHandlerMaps for reflection-less bindings (#432)
  pkg/machine/mach_utils_test.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/types.go
Due: pkg/machine

fix(rpc): fix state ctx never closed (#433)
  pkg/rpc/netmach.go
Due: pkg/rpc

feat(machine): add per-state generic typed args (#434)
  examples/mach_template/mach_template.go
  pkg/machine/mach_misc.go
  pkg/machine/schema.go
  pkg/node/supervisor.go
  pkg/pubsub/topic.go
  pkg/rpc/mux.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
Due: pkg/machine, pkg/node, pkg/pubsub, pkg/rpc

feat(machine): improve nested eval detection (#435)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

fix(machine): partially accepted auto txs shown as Canceled (#436)
  pkg/machine/transition.go
Due: pkg/machine

feat(machine): add `ErrInternal()` channel (#437)
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): reuse subscription channels (#438)
  pkg/machine/subscriptions.go
Due: pkg/machine

chore: add badges generator (#439)
  scripts/gen_badges/gen_badges.go
Due: none
