Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

ghrs: vc agg 11-07-2309-920E for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-07_230923_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-07-2309-920E for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-08-2309-6BFA for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-08_230910_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-08-2309-6BFA for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-08_230910_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-08-2309-6BFA for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-09-2309-90D7 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-09_230910_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-09-2309-90D7 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-09_230910_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-09-2309-90D7 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

feat(machine): add `Machine.MachineTick`
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): add filtering to `ActiveStates`
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

refac(machine): limit queue len to `uint16`
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

feat(machine): add new Time methods
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
Due: pkg/machine

feat(history): add memory backend
  pkg/history/hist_example_test.go
  pkg/history/history.go
  pkg/history/history_test.go
  pkg/history/test/history_test.go
  pkg/history/test/test_hist.go
Due: pkg/history

feat(history): add SQL backend
  pkg/history/gorm/gorm.go
  pkg/history/gorm/gorm_test.go
Due: pkg/history

feat(history): add KV backend
  pkg/history/bbolt/bbolt.go
  pkg/history/bbolt/bbolt_test.go
Due: pkg/history

feat(history): add columnar backend experiment
  pkg/x/history/frostdb/frostdb.go
  pkg/x/history/frostdb/frostdb_test.go
Due: none

feat: add WhenQuery for time queries
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/subscriptions.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_worker.go
Due: pkg/machine, pkg/rpc

ghrs: snap 11-10-2309-2550 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-10_230951_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-10-2309-2550 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-10_230951_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-10-2309-2550 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

feat(machine): add machine ticks (#307)
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

refac(machine): limit queue len to `uint16` (#310)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

feat(machine): add new Time methods (#309)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
Due: pkg/machine

feat: add WhenQuery for time queries (#308)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/subscriptions.go
  pkg/rpc/rpc_machine_test.go
  pkg/rpc/rpc_worker.go
Due: pkg/machine, pkg/rpc

feat(history): add memory backend (#303)
  pkg/history/hist_example_test.go
  pkg/history/history.go
  pkg/history/history_test.go
  pkg/history/test/history_test.go
  pkg/history/test/test_hist.go
Due: pkg/history

feat(history): add SQL backend (#304)
  pkg/history/gorm/gorm.go
  pkg/history/gorm/gorm_test.go
Due: pkg/history

feat(history): add KV backend (#305)
  pkg/history/bbolt/bbolt.go
  pkg/history/bbolt/bbolt_test.go
Due: pkg/history

feat(history): add columnar backend experiment (#306)
  pkg/x/history/frostdb/frostdb.go
  pkg/x/history/frostdb/frostdb_test.go
Due: none

feat(machine): add filtering to `ActiveStates` (#311)
  pkg/machine/machine.go
  pkg/machine/machine_test.go
Due: pkg/machine

docs: update readmes
  CHANGELOG.md
  FAQ.md
  LICENSE
  README.md
  ROADMAP.md
  Taskfile.yml
  docs/manual.md
  examples/README.md
  pkg/history/README.md
  pkg/integrations/README.md
  pkg/machine/README.md
  pkg/node/README.md
  pkg/pubsub/README.md
  pkg/rpc/README.md
  tools/cmd/am-dbg/README.md
Due: pkg/machine, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, tools

docs: update breaking changes
  BREAKING.md
Due: none

ghrs: snap 11-11-2309-416B for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-11_230925_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-11-2309-416B for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-11_230925_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-11-2309-416B for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-12-2310-0B9A for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-12_231011_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-12-2310-0B9A for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-12_231011_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-12-2310-0B9A for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-13-2309-6212 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-13_230949_views_clones_series_fragment.csv
Due: none
