Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

codecov.yaml:

ignore:
  - "pkg/pubsub/uds/**" # belongs to libp2p

component_management:

  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: machine
      name: pkg/machine
      paths:
        - pkg/machine/**
    - component_id: helpers
      name: pkg/helpers
      paths:
        - pkg/helpers/**
    - component_id: history
      name: pkg/history
      paths:
        - pkg/history/**
    - component_id: node
      name: pkg/node
      paths:
        - pkg/node/**
    - component_id: pubsub
      name: pkg/pubsub
      paths:
        - pkg/pubsub/**
    - component_id: rpc
      name: pkg/rpc
      paths:
        - pkg/rpc/**
    - component_id: states
      name: pkg/states
      paths:
        - pkg/states/**
    - component_id: telemetry
      name: pkg/telemetry
      paths:
        - pkg/telemetry/**

    - component_id: tools
      name: tools
      paths:
        - tools/**

    - component_id: internal
      name: internal
      paths:
        - internal/**

feat: release v0.13.0 (#269)
  Taskfile.yml
  codecov.yaml
  docs/env-configs.md
  docs/manual.md
  go.mod
  go.sum
  pkg/history/history.go
  pkg/machine/machine.go
  pkg/node/node_test.go
  pkg/rpc/rpc_worker.go
  pkg/states/pipes/pipes.go
  pkg/states/ss_disposed.go
  pkg/telemetry/otel.go
Due: pkg/machine, pkg/history, pkg/node, pkg/rpc, pkg/states, pkg/telemetry

fix: post v0.13 fixes
  .golangci.yml
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/misc_mach.go
  pkg/machine/transition.go
  pkg/machine/types.go
  pkg/pubsub/pubsub_test.go
  pkg/pubsub/topic.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/generator/grafana.go
  tools/visualizer/visualizer.go
  tools/visualizer/visualizer_test.go
Due: pkg/machine, pkg/helpers, pkg/pubsub, tools

docs: update readmes, changelog
  CHANGELOG.md
  README.md
  docs/diagrams.md
  pkg/pubsub/README.md
  pkg/telemetry/README.md
  tools/cmd/am-gen/README.md
Due: pkg/pubsub, pkg/telemetry, tools

chore: fix gomod
  CHANGELOG.md
  go.mod
  go.sum
Due: none

feat(mach): recover state from timeouts in final handlers
  pkg/machine/machine.go
  pkg/machine/transition.go
Due: pkg/machine

feat(mach): add schema groups via Machine.SetGroups
  examples/mach_template/mach_template.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/typesafe.go
Due: pkg/machine

feat(helpers): add CantAdd, AskAdd, CantRemove, AskRemove
  pkg/helpers/help.go
Due: pkg/helpers

feat(mach): add Semantic Logger
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
  pkg/machine/misc_mach_test.go
  pkg/machine/resolver.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine, pkg/helpers

feat(mach): add PrependMut
  pkg/machine/machine.go
Due: pkg/machine

fix(telemetry): fix otel and jaeger
  deploy/web-metrics/docker-compose.yml
  pkg/telemetry/otel.go
Due: pkg/telemetry

feat(dbg): add support for schema groups and Can methods
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/misc_dbg.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add web diagram viewer
  tools/debugger/handlers.go
  tools/debugger/server/dbg_cmux.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): add log pane hiding
  tools/debugger/debugger.go
  tools/debugger/ui.go
Due: tools

feat(machine): recover state from timeouts in final handlers (#270)
  pkg/machine/machine.go
  pkg/machine/transition.go
Due: pkg/machine

feat(machine): add schema groups via Machine.SetGroups (#271)
  examples/mach_template/mach_template.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/typesafe.go
Due: pkg/machine

feat(machine): add Semantic Logger (#272)
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/misc_mach.go
  pkg/machine/misc_mach_test.go
  pkg/machine/resolver.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine, pkg/helpers

feat(mach): add PrependMut (#273)
  pkg/machine/machine.go
Due: pkg/machine

feat(mach): add CanAdd, CanRemove, and EnableCan
  pkg/machine/machine.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): add CanAdd, CanRemove, and EnableCan (#274)
  pkg/machine/machine.go
  pkg/machine/transition.go
  pkg/machine/types.go
Due: pkg/machine

feat(helpers): add CantAdd, AskAdd, CantRemove, AskRemove (#275)
  pkg/helpers/help.go
Due: pkg/helpers

fix(telemetry): fix otel and jaeger (#276)
  deploy/web-metrics/docker-compose.yml
  pkg/telemetry/otel.go
Due: pkg/telemetry

feat(am-dbg): add support for schema groups and Can methods (#277)
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/misc_dbg.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): add web diagram viewer (#278)
  tools/debugger/handlers.go
  tools/debugger/server/dbg_cmux.go
  tools/visualizer/diagram.html
  tools/visualizer/visualizer.go
Due: tools

feat(am-dbg): add log pane hiding (#279)
  tools/debugger/debugger.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): release am-dbg v0.14
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: tools

feat(am-dbg): release am-dbg v0.14 (#280)
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/cli/cli_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/test/integration_test.go
  tools/debugger/test/remote/integration_remote_test.go
  tools/debugger/tree.go
  tools/debugger/ui.go
Due: tools

fix: fix pipelines
  internal/testing/cmd/am-dbg-worker/main_dbg_worker.go
  pkg/machine/machine_test.go
  pkg/node/supervisor.go
Due: pkg/machine, pkg/node, internal

docs: update readmes
  .github/BUMP
  .github/workflows/go.yml
  .github/workflows/linter.yml
  BREAKING.md
  CHANGELOG.md
  README.md
  ROADMAP.md
  Taskfile.yml
  docs/env-configs.md
  docs/manual.md
  go.mod
  go.sum
  pkg/machine/README.md
  pkg/rpc/README.md
Due: pkg/machine, pkg/rpc

feat(machine): add CheckDone to Can methods
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/typesafe.go
Due: pkg/machine, pkg/helpers

feat(machine): add strict breakpoints
  pkg/machine/machine.go
  pkg/machine/types.go
Due: pkg/machine

feat(machine): simulate TimeAfter for called states
  pkg/machine/transition.go
Due: pkg/machine

feat(am-dbg): progressive log rendering
  tools/debugger/handlers.go
  tools/debugger/log.go
  tools/debugger/states/ss_dbg.go
Due: tools

feat(am-dbg): add queued and canceled txs to log view
  pkg/telemetry/dbg.go
  tools/debugger/log.go
Due: pkg/telemetry, tools

feat(am-dbg): add queue section to log reader
  tools/debugger/log.go
Due: tools

feat(helpers): add blocking Add1Sync
  pkg/helpers/help.go
Due: pkg/helpers

fix(machine): fix IsCheck transitions
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): fix duplicate detection for Can* (#284)
  pkg/machine/machine.go
Due: pkg/machine

feat(machine): add CheckDone to Can methods (#285)
  pkg/helpers/help.go
  pkg/machine/machine.go
  pkg/machine/typesafe.go
Due: pkg/machine, pkg/helpers
