Repository pancsta/asyncmachine-go: changes, and which Codecov flags are due for each by the changed paths.
All: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools, internal

ghrs: vc agg 11-13-2309-6212 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-13_230949_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-13-2309-6212 for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

ci: enable linter and badges
  .github/workflows/badges.yml
  .github/workflows/linter.yml
  .gitignore
  CHANGELOG.md
  README.md
  Taskfile.yml
  pkg/helpers/README.md
  pkg/machine/machine.go
  pkg/machine/subscriptions.go
Due: pkg/machine, pkg/helpers

ghrs: snap 11-14-2309-E2CE for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-14_230934_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 11-14-2309-E2CE for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/ghrs-data/snapshots/2025-11-14_230934_views_clones_series_fragment.csv
  pancsta/asyncmachine-go/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-14-2309-E2CE for pancsta/asyncmachine-go
  pancsta/asyncmachine-go/latest-report/report.html
  pancsta/asyncmachine-go/latest-report/report.md
  pancsta/asyncmachine-go/latest-report/report.pdf
  pancsta/asyncmachine-go/latest-report/report_for_pdf.html
Due: none

fix(machine): fix double disposal
  pkg/machine/machine.go
  pkg/machine/relations.go
  pkg/machine/subscriptions.go
Due: pkg/machine

fix(machine): fix Groups deadlock
  pkg/machine/machine.go
Due: pkg/machine

feat(am-relay): add dbg protocol rotation server
  tools/cmd/am-vis/cmd_vis.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/relay_cli.go
Due: tools

feat(am-vis): add CLI diagram generator
  tools/cmd/am-vis/cmd_vis.go
  tools/visualizer/am-vis.yml
  tools/visualizer/d2.go
  tools/visualizer/diagram.html
  tools/visualizer/graph.go
  tools/visualizer/states/ss_visualizer.go
  tools/visualizer/types/cli_vis.go
  tools/visualizer/visualizer.go
  tools/visualizer/visualizer_test.go
Due: tools

feat(am-dbg): release v0.16.1
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/README.md
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils_test.go
Due: tools

fix(machine): fix double disposal (#313)
  pkg/machine/machine.go
  pkg/machine/relations.go
  pkg/machine/subscriptions.go
Due: pkg/machine

fix(machine): fix Groups deadlock (#314)
  pkg/machine/machine.go
Due: pkg/machine

feat(am-relay): add dbg protocol rotation server (#315)
  tools/cmd/am-vis/cmd_vis.go
  tools/relay/relay.go
  tools/relay/states/ss_relay.go
  tools/relay/types/relay_cli.go
Due: tools

feat(am-dbg): release v0.16.1 (#316)
  tools/cmd/am-dbg-ssh/cmd_dbg_ssh.go
  tools/cmd/am-dbg/README.md
  tools/cmd/am-dbg/cmd_dbg.go
  tools/debugger/client_list.go
  tools/debugger/debugger.go
  tools/debugger/handlers.go
  tools/debugger/keyboard.go
  tools/debugger/log.go
  tools/debugger/misc_dbg.go
  tools/debugger/server/dbg_cmux.go
  tools/debugger/server/dbg_server.go
  tools/debugger/states/ss_dbg.go
  tools/debugger/tree.go
  tools/debugger/types/cli_dbg.go
  tools/debugger/types/dbg_types.go
  tools/debugger/ui.go
  tools/debugger/utils_test.go
Due: tools

feat: release v0.16.1
  .gitignore
  .goreleaser.yml
  LICENSE
  Taskfile.yml
  examples/tree_state_source/cmd_state_node.go
  go.mod
  go.sum
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/testing.go
  pkg/graph/graph.go
  pkg/machine/machine.go
  pkg/machine/utils.go
  pkg/rpc/rpc_server.go
  pkg/telemetry/dbg.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
Due: pkg/machine, pkg/rpc, pkg/telemetry, internal

feat: release v0.16.1 (#317)
  .gitignore
  .goreleaser.yml
  LICENSE
  Taskfile.yml
  examples/tree_state_source/cmd_state_node.go
  go.mod
  go.sum
  internal/cmd/am-dbg-video/cmd_dbg_video.go
  internal/testing/testing.go
  pkg/graph/graph.go
  pkg/machine/machine.go
  pkg/machine/utils.go
  pkg/rpc/rpc_server.go
  pkg/telemetry/dbg.go
  scripts/gen_website/gen_website.go
  scripts/gen_website/sitemap/sitemap.go
Due: pkg/machine, pkg/rpc, pkg/telemetry, internal

chore: merge main
  examples/benchmark_libp2p_pubsub/README.md
  examples/tree_state_source/README.md
  pkg/helpers/README.md
  pkg/states/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
Due: pkg/helpers, pkg/states, tools

feat(am-vis): add CLI diagram generator
  tools/cmd/am-relay/cmd_relay.go
  tools/visualizer/d2.go
  tools/visualizer/states/ss_visualizer.go
  tools/visualizer/types/cli_vis.go
  tools/visualizer/visualizer.go
  tools/visualizer/visualizer_test.go
Due: tools

docs: update readmes
  CHANGELOG.md
  README.md
  docs/manual.md
  examples/benchmark_libp2p_pubsub/README.md
  examples/tree_state_source/README.md
  pkg/helpers/README.md
  pkg/history/README.md
  pkg/machine/README.md
  pkg/machine/relations.go
  pkg/node/README.md
  pkg/pubsub/README.md
  pkg/rpc/README.md
  pkg/states/README.md
  pkg/telemetry/README.md
  tools/cmd/am-dbg/README.md
  tools/cmd/am-gen/README.md
  tools/cmd/am-relay/README.md
  tools/cmd/am-vis/README.md
  tools/cmd/arpc/README.md
Due: pkg/machine, pkg/helpers, pkg/history, pkg/node, pkg/pubsub, pkg/rpc, pkg/states, pkg/telemetry, tools

chore: fix release
  .goreleaser.yml
  Taskfile.yml
  pkg/machine/machine.go
Due: pkg/machine

ci: remove repo stats
  .github/workflows/github-repo-stats.yml
Due: none

ci: enable linter and badges
  .github/workflows/go-badges.yml
  .github/workflows/go-basic.yml
  .github/workflows/go-helpers.yml
  .github/workflows/go-history.yml
  .github/workflows/go-machine.yml
  .github/workflows/go-node.yml
  .github/workflows/go-pubsub.yml
  .github/workflows/go-rpc.yml
  .github/workflows/go-states.yml
  .github/workflows/go-telemetry.yml
  .github/workflows/go-tools.yml
  .github/workflows/linter.yml
  Taskfile.yml
  scripts/dep-taskfile.sh
Due: none

ci: enable linter and badges (#318)
  .github/workflows/go-badges.yml
  .github/workflows/go-basic.yml
  .github/workflows/go-helpers.yml
  .github/workflows/go-history.yml
  .github/workflows/go-machine.yml
  .github/workflows/go-node.yml
  .github/workflows/go-pubsub.yml
  .github/workflows/go-rpc.yml
  .github/workflows/go-states.yml
  .github/workflows/go-telemetry.yml
  .github/workflows/go-tools.yml
  .github/workflows/linter.yml
  Taskfile.yml
  scripts/dep-taskfile.sh
Due: none

chore: update readme
  README.md
Due: none

fix: dont panic on bounds out of range in (*Machine).IsQueued
  pkg/machine/machine.go
Due: pkg/machine

fix(machine): fix subscription clock on schema changes
  pkg/machine/machine.go
  pkg/machine/subscriptions.go
Due: pkg/machine

test: add `scripts/test_loop` with artifacts
  scripts/test_loop/test_loop.go
Due: none

feat(helpers): add `AM_LOG_PRINT`
  pkg/helpers/help.go
Due: pkg/helpers

docs(examples): add CLI, CLI Daemon, and TUI examples
  examples/cli/main.go
  examples/cli/states/ss_cli.go
  examples/cli_daemon/cli/main.go
  examples/cli_daemon/daemon/main.go
  examples/cli_daemon/states/ss_daemon.go
  examples/cli_daemon/types/args.go
  examples/tui/main.go
  examples/tui/states/ss_tui.go
  examples/tui/states/states_utils.go
Due: none

fix(telemetry): fix race for queued mutations
  pkg/telemetry/dbg.go
Due: pkg/telemetry

feat(helpers): add SchemaStates, SchemaImplements, OnDispose
  pkg/helpers/help.go
Due: pkg/helpers

feat(node): add defaults to constructors, align with `pkg/rpc`
  pkg/node/node_client.go
  pkg/node/node_test.go
  pkg/node/node_worker.go
  pkg/node/states/ss_bootstrap.go
  pkg/node/states/ss_node_client.go
  pkg/node/states/ss_node_worker.go
  pkg/node/states/ss_supervisor.go
  pkg/node/supervisor.go
  pkg/node/supervisor_misc.go
  pkg/node/test/worker/node_test_worker.go
Due: pkg/node

feat(rpc): add partial, shallow, and mutation-clock syncing, also handler piping
  pkg/rpc/mux.go
  pkg/rpc/netmach.go
  pkg/rpc/netmach_test.go
  pkg/rpc/rpc.go
  pkg/rpc/rpc_client.go
  pkg/rpc/rpc_server.go
  pkg/rpc/rpc_test.go
  pkg/rpc/rpc_worker.go
  pkg/rpc/states/ss_mux.go
  pkg/rpc/states/ss_rpc.go
  pkg/rpc/states/ss_rpc_client.go
  pkg/rpc/states/ss_rpc_consumer.go
  pkg/rpc/states/ss_rpc_server.go
  pkg/rpc/states/ss_rpc_shared.go
  pkg/rpc/states/ss_rpc_worker.go
  pkg/rpc/utils_test.go
  pkg/states/pipes/pipes.go
Due: pkg/rpc, pkg/states

fix(machine): fix subscription clock on schema changes (#327)
  pkg/machine/machine.go
  pkg/machine/subscriptions.go
Due: pkg/machine

fix(telemetry): fix race for queued mutations (#328)
  pkg/telemetry/dbg.go
Due: pkg/telemetry

test: add `scripts/test_loop` with artifacts (#329)
  scripts/test_loop/test_loop.go
Due: none

docs(examples): add CLI, CLI Daemon, and TUI examples (#330)
  examples/cli/main.go
  examples/cli/states/ss_cli.go
  examples/cli_daemon/cli/main.go
  examples/cli_daemon/daemon/main.go
  examples/cli_daemon/states/ss_daemon.go
  examples/cli_daemon/types/args.go
  examples/tui/main.go
  examples/tui/states/ss_tui.go
  examples/tui/states/states_utils.go
Due: none

feat(helpers): add `AM_LOG_PRINT` (#331)
  pkg/helpers/help.go
Due: pkg/helpers

Path conditions:
  pkg/machine: any of: pkg/machine/**, but not: pkg/pubsub/uds/**
  pkg/helpers: any of: pkg/helpers/**, but not: pkg/pubsub/uds/**
  pkg/history: any of: pkg/history/**, but not: pkg/pubsub/uds/**
  pkg/node: any of: pkg/node/**, but not: pkg/pubsub/uds/**
  pkg/pubsub: any of: pkg/pubsub/**, but not: pkg/pubsub/uds/**
  pkg/rpc: any of: pkg/rpc/**, but not: pkg/pubsub/uds/**
  pkg/states: any of: pkg/states/**, but not: pkg/pubsub/uds/**
  pkg/telemetry: any of: pkg/telemetry/**, but not: pkg/pubsub/uds/**
  tools: any of: tools/**, but not: pkg/pubsub/uds/**
  internal: any of: internal/**, but not: pkg/pubsub/uds/**
